<div class="main-content">
    <div class="container-fluid">
        <div class="row mat-elevation-z4" style="margin-bottom: 15px;">
            <!-- <p>eap-detail works!</p>
            <p>{{message}}</p> -->
            <div class="" style="padding: 10px 30px; width: 50%;">
                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Nombre: </span>
                    <span class="pull-right">{{escuela.nombre}}</span>
                </div>

                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Fecha de creación: </span>
                    <span class="pull-right">{{escuela.fechaCreacion}}</span>
                </div>
            
            </div>
            <div class="" style="padding: 10px 30px; width: 50%;">
                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Cantidad de mallas: </span>
                    <span class="pull-right">{{escuela.mallas.length}}</span>
                </div>

                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Director: </span>
                    <span class="pull-right">{{escuela.director}}</span>
                </div>
            </div>
        </div>

        <div class="row mat-elevation-z4" style="margin-bottom: 15px;">
            <div class="" style="padding: 10px 30px; width: 50%;">
                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Misión: </span>
                    <span class="pull-right">{{escuela.mision}}</span>
                </div>
            </div>
            <div class="" style="padding: 10px 30px; width: 50%;">
                <div style="overflow: hidden;">
                    <span style="font-weight: bold;" class="pull-left">Visión: </span>
                    <span class="pull-right">{{escuela.vision}}</span>
                </div>
            </div>
        </div>

        <!-- <div class="row mat-elevation-z4" style="margin-bottom: 15px; padding: 10px 30px;">
            <span style="font-weight: bold;">Mallas</span>

            <div *ngFor="let malla of mallas">
                <div class="" style="padding: 10px 30px; width: 100%; border: 1px grey solid; margin: 15px 0px">
                    <div style="overflow: hidden;">
                        <span style="font-weight: bold;" class="pull-left">Nombre: </span>
                        <span class="pull-right">{{malla.nombre}}</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="sketchfab-embed-wrapper"><iframe width="100%" height="800" src="https://sketchfab.com/models/1c587dd0c424419ebb76284b7ef7d975/embed?autostart=1&amp;preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

            <p>  by <a href="https://sketchfab.com/ittisafur?utm_medium=embed&utm_source=website&utm_campain=share-popup"
                 target="_blank" style="font-weight: bold; color: #1CAAD9;">ittisafur</a></p>
        </div>

    </div>
</div>

